.item{
    display:flex;
    padding: 15px;

background-color: rgba(231, 231, 231, 0.322);
margin-bottom: 10px;
border-radius: 10px;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 70px rgba(0, 0, 0, 0.1) inset;
align-items: center;

}

.avatar{
   
    display: block;
    margin-left: 30px;
   height: 100%;
}
.name{
    display: block;
margin:0 30px;
font-size: 25px;
font-weight: 500;
color:rgb(34, 33, 33);
}
.isOnline{
width: 20px;
    height: 20px;
    background: green;
    border-radius: 50%;
}
.isOffline{
width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}