.table{
    
    width: 800px;
    margin: 60px auto;
    border-spacing: 2px;
    
    }
    .thead{
    height: 40px;
    background-color: rgb(108, 165, 240);
    
    }
    .tableItem{
    height: 30px;
    background-color: rgb(154, 194, 245);
    text-align: center;
    }
    .tableItem:nth-child(2n){
    background-color: rgb(186, 210, 240);
    }